:root {
  --primary-color: #007bff;
  --secondary-bg: #f8f8f8;
  --text-color: #333;
  --border-color: #ccc;
  --body-bg: #f4f4f4;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--body-bg);
}

/* Header Styles */

header {
  width: 100%;
}

.title-home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.title-home svg {
  text-align: center;
  margin: 20px 0;
  width: 20px;
  height: 20px;
  color: var(--primary-color);
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
}

nav,
.search-input {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav {
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--secondary-bg);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

/* Search Input Styles */

.search-input {
  border: 1px solid var(--border-color);
  border-radius: 50px;
  padding: 0 0 0 10px;
  height: 30px;
}
.search-input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.search-input input {
  border: none;
  background-color: transparent;
}
.search-input input:focus {
  outline: none;
}
.search-input button {
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 50px;
  height: 30px;
  width: 100px;
  color: white;
}
